[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphviz = "==0.8.1"
jira = "==2.0.0"
python-gantt = "==0.6.0"
toposort = "==1.5"

[requires]
python_version = "3.6"
